@font-face {
    font-family: Norse-Bold;
    src: url(./font/Norse-Bold.otf);
  }

body {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
} 

.container{
    display: flex;
    width: 100vw;
    height: 100vh;
}

.image{
    background-image: url(./img/marek.jpg);
    width: 35vw;
    background-repeat: no-repeat;
    background-size: cover;
    /* font-family: Norse-Bold sans-serif; */
}


.form{
    display: flex;
    flex-direction: column;
    width: 65vw;
    background: rgb(250, 250, 250);
}

.form-header{
    height: 30vh;
    display: flex;
    /* justify-content: flex-start; */
    align-items: flex-end;
    margin-left: 5%;
    margin-bottom:5%;
}

h2{
    margin-left: 51px;
}
.form-body{
    height: 35vh;
    background: white;
}

.form-footer{
    height: 30vh;
}

.info{
    display: flex;
    margin-left: 51px;
    justify-content: space-between;
    width: 55%;
}

.personal-info{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
