@font-face {
    font-family: Norse-Bold;
    src: url(./font/Norse-Bold.otf);
  }

body {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    font:20px
} 

.container{
    display: flex;
    width: 100vw;
    height: 100vh;
}

.image{
    background-image: url(./img/marek.jpg);
    width: 35vw;
    background-repeat: no-repeat;
    background-size: cover;
    /* font-family: Norse-Bold sans-serif; */
}


.form{
    display: flex;
    flex-direction: column;
    width: 65vw;
    background: rgb(250, 250, 250);
}

.form-header{
    height: 30vh;
    display: flex;
    /* justify-content: flex-start; */
    align-items: flex-end;
    margin-left: 5%;
    margin-bottom:5%;
}

h2{
    margin-left: 51px;
}
.form-body{
    height: 35vh;
    background: white;
    box-shadow: 2px 4px  rgb(235, 231, 231);
}

.form-footer{
    height: 30vh;
    padding-top: 30px;
    margin-left: 51px;
}

.info{
    display: flex;
    margin-left: 51px;
    justify-content: space-between;
    width: 55%;
}

.personal-info{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

input{
    width: 250px;
    height: 25px;
    border: 1px solid #E5E7EB;
    border-radius: 5px;
}

input:focus{
    outline: none;
    border: 1px solid rgb(12, 12, 234);
}

input:invalid{
    border: 1px solid red;
}

label{
    font-size: 10px;
    color: #9da2a8;
}

button{
    border: 1px solid rgb(70, 29, 231);
    background: rgb(70, 29, 231);
    color: white;
    height: 40px;
    width: 175px;
    border-radius: 10px;
    font-size:medium;
}

p>a{
    color: rgb(70, 29, 231);
    text-decoration: none;
}

.photo-credit, 
.photo-credit a{
    font-size: small;
    color: white;
    text-align: center;
    gap: 3px;
}

.photo-credit{
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}


.logo{
    height: 40vh;
    display: flex;
    align-items: flex-end;
}

.logo-background{
   display: flex;
   justify-content: center;
   align-items: center;
    width: 100%;
    background: rgb(0, 0, 0, 0.3);
    color: white;
    font-family: Norse-Bold sans-serif;
    font-size: 1.5em;
} 